<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{>header}}
    <h2>Weather disel ikde</h2>
    <div class="main_content">
        <form class="temp_form">
            <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
            <input type="submit" value="Search" id="submitBtn">
        </form>
    </div>

    <div class="tempInformation">
        <div class="top_layer">
            <p id="day">Tuesday</p>
            <p id="today_data">10 FEB</p>
        </div>
        <div class="main_layer">
            <p id="city_name">Get Output Here</p>
            <div class="middle_layer data_hide">
                <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>

</html>