<div>
    <p>
        <span><a href="/">Home</a></span>
        <span> | </span>
        <span><a href="/weather">Weather</a></span>
        <span> | </span>
        <span><a href="/about">About Us</a></span>
    </p>
</div>